$red-theme: #F5485F
$red-gradient: linear-gradient(135deg,#fe566a,#d51535)
$black-gradient: radial-gradient(circle at 24.1% 68.8%, rgb(15, 15, 15) 0%, rgb(0, 0, 0) 99.4%)
$bg-theme: #111111
$ff-cabin: 'Cabin', sans-serif
$ff-firaSans: 'Fira Sans', sans-serif
$ff-carterOne: 'Carter One', cursive
$ff-alegreyaSans: 'Alegreya Sans', sans-serif
$ff-unbounded: 'Unbounded', cursive

*, ::before, ::after
  margin: 0
  padding: 0
  box-sizing: border-box

*:focus
  outline: none

body, html
  width: 100%
  height: 100vh
  overflow-x: hidden
  background-color: $bg-theme
  color: #fff
  font-family: Calibri, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

div.title-banner  
  width: 100%
  height: 120px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  background-image: $red-gradient
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px

  h1.title 
    color: #fff
    font:
      size: 2.4rem
      family: $ff-cabin
    
  h2.title-description
    color: #fffffff6
    font:
      size: 1.6rem
      family: $ff-firaSans

div.CreateModal
  position: absolute
  opacity: 0
  background-color: #0e0d0d
  border: 2px solid #090909
  border-radius: 0.5rem
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
  width: 450px
  height: 200px
  z-index: 9999
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: none
  flex-direction: column

  div
    &.create-option-container:first-of-type
      border-radius: 0.5rem 0.5rem 0 0
      border-bottom: 2px solid #090909

    &.create-option-container
      padding: 15px 20px
      border-radius: 0 0 0.5rem 0.5rem
      flex: 1
      cursor: pointer
      transition: ease-out 0.3s

      &:hover
        background: #e1213a

      h6.option-title
        margin-bottom: 3px
        font:
          family: $ff-alegreyaSans
          size: 1.7rem
        
      span.option-description
        color: #ffffffd8
        font:
          family: $ff-alegreyaSans
          size: 1.3rem

div.Navigation
  nav.app-nav
    width: 100%
    height: 65px
    background: $black-gradient
    overflow: hidden

    ul.navbar-nav
      display: flex
      align-items: center
      overflow: hidden
      margin-left: 55px
      flex: 1

      li.nav-item
        list-style-type: none
        height: 100%

        &.float-right
          margin-left: auto
          padding: 12px 15px

          a.nav-link
            color: #fff
            border: 2px solid $red-theme
            background-image: $red-gradient
            padding: 0 30px
            border-radius: 1.2rem
            transition: 0.4s
            font:
              size: 1.2rem
              family: $ff-firaSans

            &::before
              display: none

        &.btn-nav-item
          display: flex
          align-items: center
          padding: 0 0 0 20px

          button#createBtn
            border: 1px solid #ed3a5572
            border-radius: 0.4rem
            cursor: pointer
            color: #ED3A54
            padding: 7px 11px
            background-color: #ed3a552d
            font:
              size: 1.5rem
              family: $ff-firaSans

        a.nav-link
          display: flex
          align-items: center
          text-decoration: none
          color: #b4b4b4
          padding: 0 20px
          height: 100%
          position: relative
          transition: ease-out 0.4s
          font:
            size: 1.22rem
          
          &:hover
            color: #f0f0f0

          &::before
            content: ""
            position: absolute
            width: 70%
            height: 2px
            left: 51%
            visibility: hidden
            opacity: 0.8
            transform: translateX(-50%) scaleX(0)
            bottom: 14px
            background: $red-theme
            transition: all 0.22s ease-in-out 0s
          
          &.active
            &::before
              visibility: visible
              transform: translateX(-50%) scaleX(1)
  
  div
    &.nav-wrapper
      display: flex
      flex-direction: row
      justify-content: center
      align-items: stretch
      width: 1500px
      height: 100%
      margin: 0 auto

    &.navbar-header
      display: flex
      align-items: center

      a.navbar-brand
        text-decoration: none
        background: $red-gradient
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font:
          size: 2.5rem
          family: $ff-unbounded

    &.user-dropdown
      display: flex
      align-items: center
      height: 100%
      overflow: hidden

      button
        &.user-btn
          border: none
          color: #fffffff2
          background-color: #000
          cursor: pointer
          font:
            size: 1.22rem
            family: $ff-cabin

          i
            margin-left: 8px
            font-size: 1.12rem
        
    &.user-dropdown-content
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
      position: absolute
      display: none
      flex-direction: column
      background-color: #181818
      border: 1.4px solid #ffffff23
      border-radius: 0.4rem
      top: 58px
      margin-left: -50px
      z-index: 9990

      a.dropdown-content-btn
        text-decoration: none
        z-index: 1
        color: #fff
        padding: 11px 25px
        border-radius: 0.4rem
        font:
          size: 1.35rem
          family: $ff-alegreyaSans

        &:hover
          background-color: #202020

/* copied from https://loading.io/css/ */  
/* <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> */

span.loading-container
  margin-top: 2rem
  display: flex
  justify-content: center

.lds-ellipsis 
  display: block
  position: relative
  width: 80px
  height: 80px

.lds-ellipsis div 
  position: absolute
  top: 33px
  width: 12px
  height: 12px
  border-radius: 50%
  background: $red-gradient
  animation-timing-function: cubic-bezier(0, 1.2, 1.2, 0)

.lds-ellipsis div:nth-child(1) 
  left: 8px
  animation: lds-ellipsis1 0.6s infinite

.lds-ellipsis div:nth-child(2) 
  left: 8px
  animation: lds-ellipsis2 0.6s infinite

.lds-ellipsis div:nth-child(3) 
  left: 32px
  animation: lds-ellipsis2 0.6s infinite

.lds-ellipsis div:nth-child(4) 
  left: 56px
  animation: lds-ellipsis3 0.6s infinite

@keyframes lds-ellipsis1 
  0% 
    transform: scale(0)
  
  100% 
    transform: scale(1)
  

@keyframes lds-ellipsis3 
  0% 
    transform: scale(1)
  
  100% 
    transform: scale(0)
  
@keyframes lds-ellipsis2 
  0% 
    transform: translate(0, 0)
  
  100% 
    transform: translate(24px, 0)
