@import '../index.sass'
@import '../Book/Book.sass'
/* for variables */

div.NewRequest-header-container
  h1.header-title
    text-align: center
    background: $red-gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    padding: 2.5rem 0 2.5rem 0
    font:
      family: $ff-firaSans
      size: 3.4rem
