$ff-ubuntu: 'Ubuntu', sans-serif

*, ::before, ::after
  margin: 0
  padding: 0
  box-sizing: border-box

body, html
  width: 100%
  height: 100vh
  overflow-x: hidden
  background-color: #171717

h1.title 
  margin-top: 3rem
  margin-bottom: 1rem
  text-align: center
  color: #fff
  font:
    size: 2.4rem
    family: $ff-ubuntu

div
  &.canvas-container
    margin: 0 auto
    width: 1400px
    height: 650px
  
  &.input-container
    margin: 1rem auto
    width: 800px
    text-align: center