@import '../index.sass' 
@import '../Book/Book.sass'
/* for variables */

div
  /* global */
  &.reqTrade-container
    display: flex      
    position: relative
    background-color: #181818
    border: 1.4px solid #ffffff23
    border-radius: 0.4rem
    margin: 1rem 0
    padding: 2rem 1.8rem

    button.reqTrade-info-btn
      position: absolute
      border: none
      background: $red-gradient
      border-radius: 0.4rem
      color: #ffffffe2
      width: 90px
      cursor: pointer
      height: 70px
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      font-size: 2.2rem
      z-index: 999

    div
      &.panel-container
        flex-grow: 1
        flex-basis: 0
        $panel-gap: 20px

        &.left-panel-container
          margin-right: $panel-gap

        &.right-panel-container
          margin-left: $panel-gap

        span.reqTrade-tile-user
          span.trade-profile
            color: #ffffffcf
            font:
              family: $ff-cabin
              size: 1.85rem
              
          a.request-user
            color: $red-theme
            text-decoration: none
            font:
              family: $ff-cabin
              size: 1.85rem

      &.container-tile
        background-color: #1f1f1f
        margin-top: 15px
        height: 360px
        border: 1.4px solid #4a4a4a23
        overflow: auto
        border-radius: 0.2rem
        padding: 1rem 1.2rem

      &.request-book
        display: flex
        cursor: pointer
        position: relative
        flex-direction: column
        justify-content: center
        align-item: center
        background-color: #181818
        border-radius: 0.45rem
        border: 1.4px solid #1c1c1c64
        margin: 15px 0
        padding: 35px 50px

        h4.book-name
          text-align: center
          font:
            family: $ff-alegreyaSans
            size: 2rem

        span.book-author-span
          opacity: 0.8
          text-align: center
          font:
            size: 1.3rem

      &.requests-count-container
        position: absolute
        border-radius: 0.4rem
        padding: 3px 10px
        margin: 8px
        display: flex
        justify-content: center
        align-items: center
        top: 0
        right: 0
        color: #ED3A54
        background-color: #ed3a552d
        font:
          size: 1.15rem
          family: $ff-firaSans

  &.ReqTrade-header-container
    @include header-container

  &.ReqTrade
    div
      &.spec-container
        span.error-text
          margin: 1rem 6rem
          color: #ffffffdf
          font:
            family: $ff-alegreyaSans
            size: 1.8rem

        div
          &.spec-request-container
            @include book-container
            display: flex
            flex-direction: column
            margin: 0.2rem 5rem 1rem 5rem
            padding: 2rem 2rem
            height: 685px
          
          &.spec-book-panels-container
            display: flex
            justify-content: center
          
          &.spec-book-panel
            margin: 0 1.5rem
            display: flex
            flex-direction: column

            span.book-label
              margin: 0 0 10px 0
              color: #ffffffda
              font:
                family: $ff-cabin
                size: 1.4rem

          &.books-container
            width: 680px
            height: 350px
            background-color: #1f1f1f
            padding: 12px 12px 0 12px
            border-radius: 0.25rem
            border: 1.4px solid rgba(74, 74, 74, 0.137254902)
            display: flex
            flex-direction: column
            overflow: auto

          &.spec-book
            text-align: center
            cursor: pointer
            background-color: #181818
            border-radius: 0.2rem
            margin-bottom: 12px
            padding: 20px 

            h4.spec-book-title
              color: #fdfdfd
              font: 
                size: 1.65rem
                family: $ff-firaSans
            
            h5.spec-book-author
              color: #ffffffd7
              margin-top: 5px
              font:
                size: 1.35rem
                family: $ff-cabin

          &.spec-info-container
            display: flex
            flex-direction: column
            margin: 1rem 0 0 2rem

          &.span-container
            display: flex
            flex-direction: column
            padding: 1.5rem 0
            
            span
              margin-bottom: 8px
              font:
                family: $ff-alegreyaSans
                size: 1.65rem

              span, a
                text-decoration: none
                margin-left: 5px
                color: $red-theme

          &.spec-btn-container
            margin-left: 5px
            button
              border: none
              width: 45px
              height: 45px
              cursor: pointer
              border-radius: 0.3rem
              color: #000000e6
              margin-right: 20px
              font:
                size: 1.9rem
                family: $ff-firaSans
              
              &#acceptRequest
                background: linear-gradient(135deg, #56fe8d 0%, #15d553 100%)

              &#rejectRequest
                background: $red-theme
          

    div 
      &.reqTrades-container
        margin: 1.5rem auto
        width: 1450px
        display: flex
        flex-direction: column
        