@import '../index.sass' 
/* for variables */

div.App 
  nav.app-nav
    width: 100%
    height: 65px
    background: $black-gradient
    overflow: hidden

    div
      &.nav-wrapper
        display: flex
        flex-direction: row
        justify-content: center
        align-items: stretch
        width: 1450px
        height: 100%
        margin: 0 auto

      &.navbar-header
        display: flex
        align-items: center

        a.navbar-brand
          text-decoration: none
          color: #fffffff7
          font:
            size: 1.6rem
            family: $ff-carterOne

      &.user-dropdown
        display: flex
        align-items: center
        height: 100%
        overflow: hidden

        button
          &.user-btn
            border: none
            color: #fffffff2
            background-color: #000
            cursor: pointer
            font:
              size: 1.22rem
              family: $ff-cabin

            i
              margin-left: 8px
              font-size: 1.12rem
        div
          &.user-dropdown-content
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
            position: absolute
            display: none
            flex-direction: column
            background-color: #181818
            border: 1.4px solid #ffffff23
            border-radius: 0.4rem
            top: 55px
            margin-left: -15px
            z-index: 9999

            a.dropdown-content-btn
              text-decoration: none
              z-index: 1
              color: #fff
              padding: 11px 25px
              border-radius: 0.4rem
              font:
                size: 1.35rem
                family: $ff-alegreyaSans

              &:hover
                background-color: #202020

    ul.navbar-nav
      display: flex
      align-items: center
      overflow: hidden
      margin-left: 45px
      flex: 1

      li.nav-item
        list-style-type: none
        height: 100%

        &.float-right
          margin-left: auto
          padding: 12px 15px

          a.nav-link
            color: #fff
            border: 2px solid $red-theme
            background-image: $red-gradient
            padding: 0 30px
            border-radius: 1.2rem
            transition: 0.4s
            font:
              size: 1.2rem
              family: $ff-firaSans

            &::before
              display: none

        a.nav-link
          display: flex
          align-items: center
          text-decoration: none
          color: #b4b4b4
          padding: 0 20px
          height: 100%
          position: relative
          transition: 0.2s
          font:
            size: 1.22rem
          
          &::before
            content: ""
            position: absolute
            width: 70%
            height: 2px
            left: 51%
            visibility: hidden
            opacity: 0.8
            transform: translateX(-50%) scaleX(0)
            bottom: 14px
            background: $red-theme
            transition: all 0.22s ease-in-out 0s
          
          &.active
            &::before
              visibility: visible
              transform: translateX(-50%) scaleX(1)
            