@import '../index.sass' 
@import '../Book/Book.sass'
/* for variables */  
  
div.UserBooks-header-container
  display: flex
  align-items: center
  margin: 1.5rem 2.5rem 1rem 2.5rem

  button#backBtn
    background: $red-gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-size: 3rem
    padding: 5px 5px
    border: none
    cursor: pointer
    margin-right: 20px
    background-color: rgb(0,0,0,0)

  h2.header-title
    color: #fff
    font:
      size: 3rem
      family: $ff-alegreyaSans

div.confirm-modal
  background-color: #0E0D0D
  border: 2px solid #090909
  border-radius: 0.5rem
  position: absolute
  width: 480px
  height: 420px
  top: 50%
  left: 50%
  opacity: 0
  transform: translate(-50%, -50%)
  z-index: 9999
  display: none
  flex-direction: column
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px

  span.warning-description
    margin: 1.8rem auto 2.8rem auto
    font:
      family: $ff-alegreyaSans
      size: 1.4rem

  div
    &.header-container
      display: flex
      align-items: center
      flex-direction: column

      span.warning-icon
        margin: 2.5rem 0 1.8rem 0

        i
          background: $red-gradient
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
          font-size: 7.5rem
      
      h4.warning-text
        font:
          family: $ff-firaSans
          size: 2.4rem

    &.modal-buttons-container
        display: block
        margin: 0 auto

        button
          border-radius: 0.3rem
          color: #fff
          height: 45px
          cursor: pointer
          padding: 0 35px
          margin: 0 30px
          font:
            family: $ff-firaSans
            size: 1.4rem

          &#cancelBtn
            background-color: #262626
            border: none
          
          &#deleteBtn
            background: $red-gradient
            border: none

div.UserBooks
  div
    &.books-container
      margin: 0 6rem
      display: flex
      flex-direction: column

    &.book-tile
      @include book-container
      z-index: 1
      padding: 20px 25px
      min-height: 135px
      margin: 10px 0
      position: relative
      justify-content: center
      display: flex
      flex-direction: column

      h4.book-title
        color: $red-theme
        font:
          family: $ff-firaSans
          size: 2.2rem
        
        span.book-link
          cursor: pointer

      span
        &.book-author
          opacity: 0.9
          margin: 5px 0
          font:
            family: $ff-firaSans  
            size: 1.55rem
          
        &.book-condition-container
          margin: 25px 0 0 0
          font:
            family: $ff-alegreyaSans
            size: 1.4rem

    &.book-requests-container
      color: #ED3A54
      background-color: #ed3a552d
      display: flex
      padding: 5px 12px
      cursor: pointer
      border-radius: 0.4rem
      margin: 10px 15px
      justify-content: center
      align-items: center
      position: absolute
      top: 0
      right: 0
      font:
        size: 1.3rem
        family: $ff-firaSans

    &.book-tile-container
      position: relative

    &.profile-book-btn-container
      display: flex
      flex-direction: column
      position: absolute
      height: 100%
      top: 10px
      right: -51px
      transform: translate(-50%)
      transition: ease-out 1s

      div.tag-container
        position: absolute
        right: 0
        border-radius: 0 1rem 1rem 0
        z-index: 1
        top: 0
        height: 100%
        width: 12px 
        background: $red-gradient

      div.btn-container
        position: relative
        cursor: pointer
        background-color: #111111
        border-radius: 0 1rem 1rem 0
        border: 1.4px solid #ffffff0f
        margin: 7px 0
        transition: ease-out 0.42s

        &:hover
          transform: translateX(51px)

        button
          color: #fa354c
          background-color: rgba(0,0,0,0)
          border: none
          font-size: 1.35rem
          cursor: pointer
          padding: 12px 30px 12px 25px
